@charset "UTF-8";
:root {
  --palette-color-1: 237, 224, 212;
  --palette-color-2: 230, 204, 178;
  --palette-color-3: 221, 184, 146;
  --palette-color-4: 176, 137, 104;
  --palette-color-5: 127, 85, 57;
  --palette-color-6: 156, 102, 68;
  --body-font: "Lexend Deca", sans-serif;
  --logo-font: "Ruthie", cursive;
  --logo-theme-color-1:#f7d336;
  --logo-theme-color-2:#8ae99c;
  --background-color: 14, 7, 4;
  --background-image-url: url("/img/20241016232305_1.jpg");
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
/**/
@-moz-keyframes bounce {
  0%, 50%, 100% {
    -moz-transform: translateY(0);
    transform: translateY(0);
  }
  25% {
    -moz-transform: translateY(-5px);
    transform: translateY(-5px);
  }
  75% {
    -moz-transform: translateY(-3px);
    transform: translateY(-3px);
  }
}
@-webkit-keyframes bounce {
  0%, 50%, 100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  25% {
    -webkit-transform: translateY(-5px);
    transform: translateY(-5px);
  }
  75% {
    -webkit-transform: translateY(-3px);
    transform: translateY(-3px);
  }
}
@keyframes bounce {
  0%, 50%, 100% {
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  25% {
    -moz-transform: translateY(-5px);
    -ms-transform: translateY(-5px);
    -webkit-transform: translateY(-5px);
    transform: translateY(-5px);
  }
  75% {
    -moz-transform: translateY(-3px);
    -ms-transform: translateY(-3px);
    -webkit-transform: translateY(-3px);
    transform: translateY(-3px);
  }
}
header {
  border-bottom: 1px solid rgba(var(--palette-color-4), 0.8);
  margin-top: 20px;
  padding-bottom: 20px;
}

.logo {
  font-family: var(--logo-font);
  font-weight: 400;
  font-style: normal;
  font-size: clamp(3rem, 1vw + 3rem, 6rem);
}

.highlight {
  display: inline-block;
  position: relative;
  color: rgba(var(--background-color), 1);
  padding-right: 24px;
}
.highlight:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: perspective(300px) skewX(10deg) rotateX(10deg) rotateY(20deg) scale(1.15);
  background-image: linear-gradient(78deg, var(--logo-theme-color-1) 30%, var(--logo-theme-color-2));
  z-index: -1;
  transition: all 0.3s;
  border-radius: 0.2rem;
}
.highlight:hover:before {
  transform: perspective(300px) skewX(-5deg) rotateX(-10deg) rotateY(-5deg) scale(1.2);
}

.navigation {
  width: clamp(20%, 1vw + 1rem, 25%);
  position: fixed;
  background-color: rgba(var(--background-color), 0.8);
  height: 100vh;
  left: 8%;
}
.navigation.active .mobile-list {
  display: none;
}
.navigation.active .mobile-close {
  display: block;
}

.mobile-menu-icons {
  display: none;
  align-items: center;
}
.mobile-menu-icons button {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 30px;
  background-color: transparent;
  border: none;
}
.mobile-menu-icons button,
.mobile-menu-icons svg {
  width: 48px;
  height: 48px;
  fill: rgba(var(--palette-color-1), 1);
}
.mobile-menu-icons .mobile-list {
  display: block;
}
.mobile-menu-icons .mobile-close {
  display: none;
}

footer {
  position: absolute;
  bottom: 0;
  margin: 20px;
  color: grey;
  font-size: 13px;
}
footer a {
  color: grey;
}

.fish-nav-menu ul {
  list-style: none;
  margin: 20px;
  padding: 0;
  line-height: 1.5;
}

.fish-nav--watertypes {
  position: relative;
}
.fish-nav--watertypes button {
  font-family: inherit;
  padding: 10px 20px;
  text-align: center;
  margin: 0;
  display: block;
  background-color: rgba(var(--background-color), 0.8);
  color: rgb(var(--palette-color-1));
  z-index: 15;
  border-radius: 5px 5px 0px 0px;
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
  transform-origin: bottom right;
  position: absolute;
  right: 0;
  cursor: pointer;
  border: 0;
  font-size: 18px;
  font-weight: 300;
}
.fish-nav--watertypes button:focus {
  outline: 0;
}
.fish-nav--watertypes button.active {
  background: rgb(var(--palette-color-4));
  color: rgb(var(--background-color));
}
.fish-nav--watertypes button:hover {
  background: rgb(var(--palette-color-3));
  color: rgb(var(--background-color));
}
.fish-nav--watertypes .freshwater {
  top: 90px;
}
.fish-nav--watertypes .saltwater {
  top: 210px;
}

.fish-nav-categories--links {
  margin: 10px 20px;
  display: flex;
  flex-wrap: wrap;
}
.fish-nav-categories--links a {
  padding: 0 10px;
}
.fish-nav-categories--links a.active {
  background: rgb(var(--palette-color-3));
  color: rgb(var(--background-color));
}
.fish-nav-categories--links span {
  margin: 0 16px;
}
.fish-nav-categories--links span:first-child {
  margin-left: 0;
}

.fish-nav-categories--menu-list ul {
  overflow-y: auto;
  height: 60vh;
  width: 93%;
  display: none;
}
.fish-nav-categories--menu-list ul li {
  color: grey;
}
.fish-nav-categories--menu-list a::before {
  content: "├ ";
}
.fish-nav-categories--menu-list ul::-webkit-scrollbar-track {
  background-color: rgba(0, 0, 0, 0.5);
}
.fish-nav-categories--menu-list ul::-webkit-scrollbar {
  width: 6px;
  background-color: rgba(var(--palette-color-5), 0.8);
}
.fish-nav-categories--menu-list ul::-webkit-scrollbar-thumb {
  background-color: rgba(var(--palette-color-5), 0.8);
  border-radius: 3px;
}
.fish-nav-categories--menu-list a {
  display: block;
}

.nav-close {
  color: rgb(var(--palette-color-1));
}

.freshwater-s .freshwater--menu-list ul {
  display: none;
}
.freshwater-s .freshwater--menu-list ul.small {
  display: block;
}

.freshwater-m .freshwater--menu-list ul {
  display: none;
}
.freshwater-m .freshwater--menu-list ul.medium {
  display: block;
}

.freshwater-l .freshwater--menu-list ul {
  display: none;
}
.freshwater-l .freshwater--menu-list ul.large {
  display: block;
}

.freshwater-xl .freshwater--menu-list ul {
  display: none;
}
.freshwater-xl .freshwater--menu-list ul.xlarge {
  display: block;
}

.saltwater-s .saltwater--menu-list ul {
  display: none;
}
.saltwater-s .saltwater--menu-list ul.small {
  display: block;
}

.saltwater-m .saltwater--menu-list ul {
  display: none;
}
.saltwater-m .saltwater--menu-list ul.medium {
  display: block;
}

.saltwater-l .saltwater--menu-list ul {
  display: none;
}
.saltwater-l .saltwater--menu-list ul.large {
  display: block;
}

.saltwater-xl .saltwater--menu-list ul {
  display: none;
}
.saltwater-xl .saltwater--menu-list ul.xlarge {
  display: block;
}

body {
  margin: 0;
  font-family: var(--body-font);
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  font-size: clamp(1rem, 1vw + 0.8rem, 1rem);
  color: rgb(var(--palette-color-3));
  background: var(--background-image-url);
  background-size: cover;
  background-repeat: no-repeat;
  background-color: rgba(var(--background-color), 1);
  background-position-y: bottom;
  background-position-x: right;
}

a {
  text-decoration: none;
  color: rgb(var(--palette-color-2));
}
a:hover {
  color: rgba(var(--palette-color-2), 0.8);
}

h1 {
  position: relative;
  display: block;
  font-weight: 400;
  white-space: nowrap;
  font-size: clamp(1.5rem, 2vw + 1rem, 2.5rem);
  margin: 0;
}

.container {
  display: grid;
  justify-items: end;
  width: min(100%, 100vw);
  overflow: hidden;
  color: rgb(var(--palette-color-3));
}
@media (max-width: 480px) {
  .container {
    padding: 0;
  }
}

.aquarium {
  width: 58%;
  position: relative;
  display: flex;
  height: 100vh;
  flex-direction: column;
  margin-left: 20px;
  justify-content: center;
}

.fish-header {
  transition-delay: 0.2s;
  color: rgb(var(--palette-color-4));
  margin-left: 20%;
  position: absolute;
  top: 10%;
  width: 66%;
  display: flex;
  justify-content: space-between;
  background-color: rgba(134, 90, 60, 0.8);
}
.fish-header:after {
  content: " ";
  display: block;
  position: absolute;
  bottom: -0.5em;
  width: 1em;
  height: 100%;
  background-color: #8d5e3f;
  pointer-events: none;
  right: -0.57em;
  z-index: -1;
}
.fish-header #title {
  display: block;
  position: relative;
  padding: 0.15em 0.75em;
  text-decoration: none;
  color: rgb(var(--background-color));
}
.fish-header--additional-links {
  margin-right: 35px;
  display: flex;
  align-items: center;
}
.fish-header--additional-links:after {
  content: " ";
  display: block;
  position: absolute;
  width: 0;
  height: 0;
  bottom: -0.5em;
  left: -0.05em;
  pointer-events: none;
  -webkit-mask: none;
  mask: none;
  left: auto;
  right: -0.05em;
  border-top: 0.5em solid #5c3d29;
  border-right: 0.5em solid transparent;
}
.fish-header--additional-links a {
  width: 24px;
  height: 24px;
  border-radius: 15%;
  margin-left: 5px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: top center;
  opacity: 75%;
}
.fish-header--additional-links a:hover {
  opacity: 1;
}

.eorzea-db {
  background: url(/img/lodestone.png);
}

.garland-tools {
  background: url(/img/garland.png);
}

.universalis {
  background: url(/img/universalis.png);
}

.gamerescape {
  background: url(/img/gamerescape.png);
}

.fish-tank {
  height: 308px;
  position: relative;
}

#fish {
  -moz-animation: bounce 2s infinite;
  -webkit-animation: bounce 2s infinite;
  animation: bounce 2s infinite;
}

.fade-in {
  animation: fadeIn 3s;
}

.fade-out {
  animation: fadeOut 5s;
}

.fish {
  position: fixed;
  top: 46%;
  left: 65%;
  transform: translate(-50%, -50%);
  animation: swim 5s;
  -webkit-animation: swim 5s;
  animation-timing-function: linear;
  -webkit-animation-timing-function: linear;
  animation-delay: 0.5s;
  -webkit-animation-delay: 0.5s;
}
.fish.s img {
  width: 100px;
}
.fish.m img {
  width: 240px;
}
.fish.l img {
  width: 340px;
}
.fish.xl img {
  width: 490px;
}

.bubble {
  position: absolute;
  z-index: -1;
  border-radius: 9999px;
  background-color: #fecdd3;
  bottom: 20px;
  box-shadow: inset 0 0.3vmin #2563eb, inset 0 0.3vmin #f97316, inset 0.3vmin 0.3vmin #f97316;
  animation-name: float-up;
  animation-iteration-count: infinite;
  opacity: 0;
  /* animation delays etc defined in JS */
}

.bubble::after {
  content: "";
  position: absolute;
  border-radius: 9999px;
  background-color: transparent;
  inset: 0px;
  border-right: 4px solid #fff;
  transform: rotate(-45deg);
  backdrop-filter: blur(10px);
  background: rgba(0, 0, 0, 0.4);
}

@keyframes float-up {
  from {
    opacity: 0.1;
    transform: translateX(calc(var(--horizontal-movement, 0) * 1px));
  }
  to {
    opacity: 0.2;
    transform: translateY(calc(var(--pop, 90svh) * -1)) translateX(calc(var(--horizontal-movement, 0) * 1px));
  }
}
.fish-test-l {
  display: none;
  background: url(/img/l-size-test.png);
  position: fixed;
  top: 56%;
  left: 68%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  width: 801px;
  height: 351px;
  opacity: 77%;
  background-repeat: no-repeat;
  background-color: rgba(0, 0, 0, 0.5);
}

.fish-test-xl {
  display: none;
  background: url(/img/xl-size-test.png);
  position: fixed;
  top: 49%;
  left: 66%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  width: 916px;
  height: 351px;
  opacity: 77%;
  background-repeat: no-repeat;
}

div.device-test {
  display: none;
  position: fixed;
  width: 100vw;
  height: 100vh;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -3;
}

/* Extra small devices (phones, less than 576px) */
@media (max-width: 575.98px) {
  /* Styles for extra small screens */
  div.device-test {
    background-color: rgba(91, 192, 235, 0.5);
  }
  body {
    background-position-y: bottom;
    background-position-x: 75%;
  }
  .fish {
    top: 55vh;
    left: 50vw;
  }
  .bubble {
    bottom: -20px;
  }
  .aquarium {
    width: 100%;
  }
  .fish-header {
    top: 28%;
    width: 100%;
  }
  .fish-header--additional-links {
    display: none;
  }
}
/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {
  /* Styles for small screens */
  div.device-test {
    background-color: rgba(253, 231, 76, 0.5);
  }
  body {
    background-position-y: bottom;
    background-position-x: 75%;
  }
  .fish {
    top: 55vh;
    left: 50vw;
  }
  .bubble {
    bottom: -20px;
  }
  .aquarium {
    width: 100%;
  }
  .fish-header {
    top: 28%;
    width: 80%;
  }
  .fish-header--additional-links {
    display: none;
  }
}
/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {
  /* Styles for medium screens */
  div.device-test {
    background-color: rgba(155, 197, 61, 0.5);
  }
  body {
    background-position-y: bottom;
    background-position-x: 86%;
  }
  .fish {
    top: 55vh;
    left: 50vw;
  }
  .bubble {
    bottom: -20px;
  }
  .aquarium {
    width: 100%;
  }
  .fish-header {
    top: 28%;
    width: 78%;
  }
}
/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {
  /* Styles for large screens */
  div.device-test {
    background-color: rgba(195, 66, 63, 0.5);
  }
  .fish {
    top: 55vh;
    left: 50vw;
  }
  .bubble {
    bottom: -20px;
  }
  .navigation {
    left: 0;
  }
  .fish-nav-categories--menu-list ul {
    height: 40vh;
    width: 90%;
  }
  .aquarium {
    width: 75%;
  }
  .fish-header {
    top: 25%;
    width: 70%;
  }
}
/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) and (max-width: 1440px) {
  /* Styles for extra large screens */
  div.device-test {
    background-color: rgba(33, 26, 30, 0.5);
  }
  .fish {
    top: 55%;
    left: 63%;
  }
  .bubble {
    bottom: -15px;
  }
  .fish-header {
    top: 22%;
    width: 70%;
  }
}
@media (min-width: 1441px) {
  div.device-test {
    background-color: rgba(175, 55, 123, 0.5);
  }
  .fish {
    top: 46%;
    left: 65%;
  }
}
@media (prefers-reduced-motion: reduce) {
  * {
    animation: none;
    transition: none;
  }
}
@media (max-width: 769px) {
  header {
    display: flex;
    justify-content: space-between;
  }
  .logo {
    padding-left: 30px;
  }
  .navigation {
    z-index: 3;
    background-color: transparent;
    left: 0;
    width: 100%;
  }
  .mobile-menu-icons {
    display: flex;
  }
  .fish-nav-menu {
    position: absolute;
    background: rgba(var(--background-color), 1);
    height: 100vh;
    transform: translate(-120%);
    transition: 0.5s;
  }
  .navigation.active .fish-nav-menu {
    transform: translate(0);
    transition: 0.5s;
  }
}/*# sourceMappingURL=main.css.map */