@charset "UTF-8";
:root {
  --palette-color-1: 237, 224, 212;
  --palette-color-2: 230, 204, 178;
  --palette-color-3: 221, 184, 146;
  --palette-color-4: 176, 137, 104;
  --palette-color-5: 127, 85, 57;
  --palette-color-6: 156, 102, 68;
  --body-font: "Lexend Deca", sans-serif;
  --logo-font: "Ruthie", cursive;
  --logo-theme-color-1:#f7d336;
  --logo-theme-color-2:#8ae99c;
  --background-color: 14, 7, 4;
  --background-image-url: url("/img/20241016232305_1.jpg");
}

body {
  margin: 0;
  background: var(--background-image-url);
  background-size: cover;
  font-family: var(--body-font);
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  color: rgb(var(--palette-color-3));
  background-position-y: -160px;
  background-position-x: right;
  background-repeat: no-repeat;
  background-color: rgba(var(--background-color), 1);
}

.container {
  display: grid;
  justify-items: end;
  width: 100%;
  overflow: hidden;
  color: rgb(var(--palette-color-3));
}
@media (max-width: 480px) {
  .container {
    padding: 0;
  }
}

header {
  font-family: var(--logo-font);
  font-weight: 400;
  font-style: normal;
  font-size: 80px;
  border-bottom: 1px solid rgba(var(--palette-color-4), 0.8);
  margin-top: 20px;
  padding-bottom: 20px;
}

a {
  text-decoration: none;
  color: rgb(var(--palette-color-2));
}
a:hover {
  color: rgba(var(--palette-color-2), 0.8);
}

.highlight {
  display: inline-block;
  position: relative;
  color: rgba(var(--background-color), 1);
  padding-right: 24px;
}
.highlight:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: perspective(300px) skewX(10deg) rotateX(10deg) rotateY(20deg) scale(1.15);
  background-image: linear-gradient(78deg, var(--logo-theme-color-1) 30%, var(--logo-theme-color-2));
  z-index: -1;
  transition: all 0.3s;
  border-radius: 0.2rem;
}
.highlight:hover:before {
  transform: perspective(300px) skewX(-5deg) rotateX(-10deg) rotateY(-5deg) scale(1.2);
}

.navigation {
  width: 25%;
  position: fixed;
  background-color: rgba(var(--background-color), 0.8);
  height: 100vh;
  left: 8%;
}

.fish-nav-menu ul {
  list-style: none;
  margin: 20px;
  padding: 0;
  line-height: 1.5;
}

.fish-nav--watertypes {
  position: relative;
}
.fish-nav--watertypes button {
  font-family: inherit;
  padding: 10px 20px;
  text-align: center;
  margin: 0;
  display: block;
  background-color: rgba(var(--background-color), 0.8);
  color: rgb(var(--palette-color-1));
  z-index: 15;
  border-radius: 5px 5px 0px 0px;
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
  transform-origin: bottom right;
  position: absolute;
  right: 0;
  cursor: pointer;
  border: 0;
  font-size: 18px;
  font-weight: 300;
}
.fish-nav--watertypes button:focus {
  outline: 0;
}
.fish-nav--watertypes button.active {
  background: rgb(var(--palette-color-4));
  color: rgb(var(--background-color));
}
.fish-nav--watertypes button:hover {
  background: rgb(var(--palette-color-3));
  color: rgb(var(--background-color));
}
.fish-nav--watertypes .freshwater {
  top: 90px;
}
.fish-nav--watertypes .saltwater {
  top: 210px;
}

.fish-nav-categories--links {
  margin: 10px 20px;
  display: flex;
}
.fish-nav-categories--links a {
  padding: 0 10px;
}
.fish-nav-categories--links a.active {
  background: rgb(var(--palette-color-3));
  color: rgb(var(--background-color));
}
.fish-nav-categories--links span {
  margin: 0 20px;
}
.fish-nav-categories--links span:first-child {
  margin-left: 0;
}

.fish-nav-categories--menu-list ul {
  overflow-y: scroll;
  height: 60vh;
  width: 95%;
  display: none;
}
.fish-nav-categories--menu-list ul li {
  color: grey;
}
.fish-nav-categories--menu-list a::before {
  content: "├ ";
}
.fish-nav-categories--menu-list ul::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(var(--palette-color-3), 0.8);
  background-color: rgba(var(--background-color), 0.3);
}
.fish-nav-categories--menu-list ul::-webkit-scrollbar {
  width: 6px;
  background-color: rgba(var(--palette-color-6), 0.8);
}
.fish-nav-categories--menu-list ul::-webkit-scrollbar-thumb {
  background-color: rgba(var(--background-color), 0.8);
}
.fish-nav-categories--menu-list a {
  display: block;
}

.freshwater-s .freshwater--menu-list ul {
  display: none;
}
.freshwater-s .freshwater--menu-list ul.small {
  display: block;
}

.freshwater-m .freshwater--menu-list ul {
  display: none;
}
.freshwater-m .freshwater--menu-list ul.medium {
  display: block;
}

.freshwater-l .freshwater--menu-list ul {
  display: none;
}
.freshwater-l .freshwater--menu-list ul.large {
  display: block;
}

.freshwater-xl .freshwater--menu-list ul {
  display: none;
}
.freshwater-xl .freshwater--menu-list ul.xlarge {
  display: block;
}

.saltwater-s .saltwater--menu-list ul {
  display: none;
}
.saltwater-s .saltwater--menu-list ul.small {
  display: block;
}

.saltwater-m .saltwater--menu-list ul {
  display: none;
}
.saltwater-m .saltwater--menu-list ul.medium {
  display: block;
}

.saltwater-l .saltwater--menu-list ul {
  display: none;
}
.saltwater-l .saltwater--menu-list ul.large {
  display: block;
}

.saltwater-xl .saltwater--menu-list ul {
  display: none;
}
.saltwater-xl .saltwater--menu-list ul.xlarge {
  display: block;
}

.aquarium {
  width: 58%;
  position: relative;
  display: flex;
  height: 100vh;
  flex-direction: column;
  margin-left: 20px;
  justify-content: center;
}

.fish-title {
  font-size: 36px;
  transition-delay: 0.2s;
  width: 66%;
  color: rgb(var(--palette-color-4));
  margin-left: 20%;
  position: absolute;
  top: 104px;
}

h1 {
  position: relative;
  display: block;
  font-weight: 400;
  letter-spacing: 0.15em;
  white-space: nowrap;
  font-size: 1em;
  text-transform: uppercase;
}
h1:after {
  content: " ";
  display: block;
  position: absolute;
  bottom: -0.5em;
  width: 1em;
  height: 100%;
  background-color: rgba(43, 26, 10, 0.5);
  pointer-events: none;
}
h1:after {
  content: " ";
  display: block;
  position: absolute;
  bottom: -0.5em;
  width: 1em;
  height: 100%;
  background-color: rgba(43, 26, 10, 0.5);
  pointer-events: none;
}
h1:after {
  right: -0.57em;
  z-index: -1;
}
h1:before {
  bottom: auto;
  top: -0.5em;
  left: -0.57em;
  z-index: -1;
}
h1 span {
  display: block;
  position: relative;
  padding: 0.15em 0.75em;
  text-decoration: none;
  color: #af7244;
  background-color: rgba(34, 21, 8, 0.8);
}
h1 span:after {
  content: " ";
  display: block;
  position: absolute;
  width: 0;
  height: 0;
  bottom: -0.5em;
  left: -0.05em;
  pointer-events: none;
  -webkit-mask: none;
  mask: none;
}
h1 span:before {
  bottom: auto;
  top: -0.5em;
  border-bottom: 0.5em solid rgba(0, 0, 0, 0.5);
  border-left: 0.5em solid transparent;
}
h1 span:after {
  left: auto;
  right: -0.05em;
  border-top: 0.5em solid rgba(0, 0, 0, 0.5);
  border-right: 0.5em solid transparent;
}

.fish-tank {
  height: 318px;
  position: relative;
}

.bubble {
  position: absolute;
  z-index: -1;
  border-radius: 9999px;
  background-color: #fecdd3;
  bottom: 20px;
  box-shadow: inset 0 0.3vmin #2563eb, inset 0 0.3vmin #f97316, inset 0.3vmin 0.3vmin #f97316;
  animation-name: float-up;
  animation-iteration-count: infinite;
  opacity: 0;
  /* animation delays etc defined in JS */
}

.bubble::after {
  content: "";
  position: absolute;
  border-radius: 9999px;
  background-color: transparent;
  inset: 0px;
  border-right: 4px solid #fff;
  transform: rotate(-45deg);
  backdrop-filter: blur(10px);
  background: rgba(0, 0, 0, 0.4);
}

@keyframes float-up {
  from {
    opacity: 0.1;
    transform: translateX(calc(var(--horizontal-movement, 0) * 1px));
  }
  to {
    opacity: 0.2;
    transform: translateY(calc(var(--pop, 90svh) * -1)) translateX(calc(var(--horizontal-movement, 0) * 1px));
  }
}
#fish {
  -moz-animation: bounce 2s infinite;
  -webkit-animation: bounce 2s infinite;
  animation: bounce 2s infinite;
}

@keyframes swim {
  0% {
    right: 5%;
  }
  14% {
    right: 10%;
  }
  42% {
    right: 15%;
  }
  56% {
    right: 20%;
  }
  70% {
    right: 25%;
  }
  84% {
    right: 30%;
  }
  100% {
    right: 35%;
  }
}
@-webkit-keyframes swim {
  0% {
    right: 5%;
  }
  14% {
    right: 10%;
  }
  42% {
    right: 15%;
  }
  56% {
    right: 20%;
  }
  70% {
    right: 25%;
  }
  84% {
    right: 30%;
  }
  100% {
    right: 35%;
  }
}
/**/
@-moz-keyframes bounce {
  0%, 50%, 100% {
    -moz-transform: translateY(0);
    transform: translateY(0);
  }
  25% {
    -moz-transform: translateY(-5px);
    transform: translateY(-5px);
  }
  75% {
    -moz-transform: translateY(-3px);
    transform: translateY(-3px);
  }
}
@-webkit-keyframes bounce {
  0%, 50%, 100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  25% {
    -webkit-transform: translateY(-5px);
    transform: translateY(-5px);
  }
  75% {
    -webkit-transform: translateY(-3px);
    transform: translateY(-3px);
  }
}
@keyframes bounce {
  0%, 50%, 100% {
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  25% {
    -moz-transform: translateY(-5px);
    -ms-transform: translateY(-5px);
    -webkit-transform: translateY(-5px);
    transform: translateY(-5px);
  }
  75% {
    -moz-transform: translateY(-3px);
    -ms-transform: translateY(-3px);
    -webkit-transform: translateY(-3px);
    transform: translateY(-3px);
  }
}
.fish.s img {
  width: 100px;
}
.fish.m img {
  width: 248px;
}
.fish.l img {
  width: 330px;
}
.fish.xl img {
  width: 596px;
}

.fish {
  position: absolute;
  bottom: 35%;
  left: 35%;
  animation: swim 5s;
  -webkit-animation: swim 5s;
  animation-timing-function: linear;
  -webkit-animation-timing-function: linear;
  animation-delay: 0.5s;
  -webkit-animation-delay: 0.5s;
}
.fish.s {
  bottom: 50%;
}
.fish.m {
  bottom: 45%;
  left: 25%;
}
.fish.l {
  bottom: 25%;
  left: 25%;
}
.fish.xl {
  bottom: 35%;
  left: 12%;
}

footer {
  position: absolute;
  bottom: 0;
  margin: 20px;
  color: grey;
  font-size: 13px;
}
footer a {
  color: grey;
}

div.device-test {
  position: fixed;
  width: 100vw;
  height: 100vh;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
}

@media (min-width: 320px) {
  /* smartphones, portrait iPhone, portrait 480x320 phones (Android) */
  div.device-test {
    background-color: rgba(91, 192, 235, 0.1);
  }
}
@media (min-width: 480px) {
  /* smartphones, Android phones, landscape iPhone */
  div.device-test {
    background-color: rgba(253, 231, 76, 0.1);
  }
}
@media (min-width: 600px) {
  /* portrait tablets, portrait iPad, e-readers (Nook/Kindle), landscape 800x480 phones (Android) */
  div.device-test {
    background-color: rgba(155, 197, 61, 0.1);
  }
}
@media (min-width: 801px) { /* tablet, landscape iPad, lo-res laptops ands desktops */
  div.device-test {
    background-color: rgba(195, 66, 63, 0.1);
  }
}
@media (min-width: 1025px) { /* big landscape tablets, laptops, and desktops */
  div.device-test {
    background-color: rgba(33, 26, 30, 0.1);
  }
}
@media (min-width: 1281px) { /* hi-res laptops and desktops */
  div.device-test {
    background-color: rgba(33, 26, 30, 0.1);
  }
}/*# sourceMappingURL=main.css.map */