//
//  Pages > 01 - Home
//
//  -------------------------------------------------


body {
  margin: 0;
  font-family: var(--body-font);
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  font-size: clamp(1rem, 1vw + 0.8rem, 1rem);
  color: rgb(var(--palette-color-3));
  background: var(--background-image-url);
  background-size: cover;
  background-repeat: no-repeat;
  background-color: rgba(var(--background-color),1);
  @include responsive-bg-image(right, bottom);
}

a {
  text-decoration: none;
  color: rgb(var(--palette-color-2));

  &:hover {
    color: rgba(var(--palette-color-2),0.8);
  }
}

h1 {
  position: relative;
	display: block;
	font-weight: 400;
	white-space: nowrap;
  //font-size: 1em;
  font-size: clamp(1.5rem, 2vw + 1rem, 2.5rem); //Responsive Typography with clamp()
  margin: 0;
}

.container {
  display: grid;
  justify-items: end;
  //width: 100%;
  width: min(100%, 100vw); //This helps ensure that layouts are compatible across devices by adapting fluidly based on screen size.
  overflow: hidden;
  color: rgb(var(--palette-color-3));

  @media (max-width: 480px) {
    padding: 0;
  }
}

.aquarium {
  width: 58%;
  position: relative;
  display: flex;
  height: 100vh;
  flex-direction: column;
  margin-left: 20px;
  justify-content: center;
}

$darkcolor 		: #7F5539;
.fish-header {
  //font-size: 36px;
  transition-delay: 0.2s;
  color: rgb(var(--palette-color-4));
  margin-left: 20%;
  position: absolute;
  @include fish-header(10%, 66%);
  display: flex;
  justify-content: space-between;
  background-color: rgba(lighten($darkcolor,2), 0.8);

  &:after {
		content: " ";
		display: block;
		position: absolute;
		bottom: -.5em;
		width: 1em;
		height: 100%;
		background-color: lighten($darkcolor,4);
		pointer-events:none;
    right: -.57em;
		z-index: -1;
	}

  #title {
		display: block;
		position: relative;
		padding: .15em .75em;
		text-decoration: none;
		color: rgb(var(--background-color));
		
	}

  &--additional-links {
    margin-right: 35px;
    display: flex;
    
    align-items: center;

		&:after {
			content: " ";
			display: block;
			position: absolute;
			width: 0;
			height: 0;
			bottom: -.5em;
			left: -.05em;
			pointer-events: none;
			-webkit-mask: none;
			mask: none;
      left:  auto;
			right: -.05em;
			border-top: .5em solid darken($darkcolor,10);
			border-right: .5em solid transparent;
		}


    a {
      width: 24px;
      height: 24px;
      // background-color: rgb(var(--palette-color-4));
      border-radius: 15%;
      margin-left: 5px;
      background-repeat: no-repeat;
      background-size: contain;
      background-position: top center;
      opacity: 75%;

      &:hover{
        opacity: 1;
      }
    }
  }
}


.eorzea-db {
  background:url(/img/lodestone.png);
}

.garland-tools {background:url(/img/garland.png);}
.universalis {background:url(/img/universalis.png);}
.gamerescape {background: url(/img/gamerescape.png);}


.fish-tank {
  // width: 940px;
  height: 308px;
  position: relative;
}

#fish {
  -moz-animation: bounce 2s infinite;
  -webkit-animation: bounce 2s infinite;
  animation: bounce 2s infinite;
  
}
.fade-in {
  animation: fadeIn 3s;
}

.fade-out {
  animation: fadeOut 5s;
}
.fish {
  position: fixed;
  @include responsive-fish-position(46%, 65%);
  //margin-right: -56%;
  transform: translate(-50%, -50%);
  animation: swim 5s;
  -webkit-animation: swim 5s;
  animation-timing-function: linear;
  -webkit-animation-timing-function: linear;
  animation-delay: 0.5s;
  -webkit-animation-delay: 0.5s;
  &.s img {
    width: 100px;
  }

  &.m img {
    width: 200px;
  }

  &.l img {
    width: 340px;
  }

  &.xl img {
    width: 450px;
  }
}

.hanatatsu {
  width: 220px !important;
}

.helmsmanshand {
  width: 355px !important;
}