//
//  Layout > 04 - Footer
//  
//  -------------------------------------------------

footer{
    position: absolute;
    bottom: 0;
    margin: 20px;
    color: grey;
    font-size: 13px;
  
    a {
      color: grey;
    }
  }
  